.idea

# Avoid to version mmkp output files
mmkp*.out
mmkp*.dat

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# Output file
*.out
*.time

# AMPL sover temporary files
AMPLsolver/*.dat
AMPLsolver/*.mod


# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# MacOS
.DS_Store
*/.DS_Store

# MMKP runner output
mmkpRunner/stats.txt

